.body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  margin-top: 32px;
  position: relative;
  z-index: 2;

  a {
    color: hsl(var(--foreground));
    text-decoration: none;
    text-transform: uppercase;
    width: fit-content;
  }

  p {
    margin: 0px;
    display: flex;
    overflow: hidden;
    font-size: clamp(2.1rem, 8vw, 3.4rem);
    line-height: 0.95;
    padding-right: 0;
    padding-top: 6px;
    font-weight: 350;
  }
}

@media only screen and (min-width: 1000px) {
  .body {
    max-width: none;
    margin-top: 56px;
    gap: 6px;

    p {
      font-size: clamp(2.8rem, 5vw, 5.4rem);
      padding-right: 0;
      padding-top: 2px;
    }
  }
}
