.nav {
  overflow: hidden;
  position: relative;
  z-index: 2;

  .wrapper {
    position: relative;
    display: flex;
    gap: 50px;
    margin-top: clamp(24px, 6vh, 64px);
    margin-bottom: 12px;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

@media only screen and (min-width: 1000px) {
  .nav {
    .wrapper {
      margin-bottom: 0px;
      margin-top: clamp(28px, 8vh, 90px);
      justify-content: space-between;
    }
  }
}
